@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "WhyteInktrap-Bold";
  src: url("assets/fonts/WhyteInktrap-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("assets/public/fonts/Poppins-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("assets/public/fonts/Poppins-SemiBold.woff2") format("woff2");
}

html {
  @apply font-poppins;
}
